* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.list{
  margin:50px 0;
  width:960px;
  display:block;
  margin:50px auto;
}

.list-odd{
  width:960px;
  height:50px;
  background-color: #acabab;
}

.list-even{
  width:960px;
  height:50px;
}

.list-text{
  padding-left:20px;
  line-height:50px;
}

.boxes{
  display:flex;
  flex-wrap:wrap;
  width:960px;
  height:680px;
  margin:0 auto 50px;
}

.orange{
  background-color:orange;
  width:30%;
  height:200px;
}

.yellow{
  background-color:yellow;
  width:30%;
  height:200px;
}

.right{
  margin-right:5%;
}

.bottom{
  margin-bottom:40px;
}
